<!-- TOC (left on desktop, collapsible on mobile) -->
<aside class="col-lg-4 order-lg-1 mb-4">
  <div class="d-lg-none mb-2">
    <button
      class="btn btn-outline-primary w-100"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#tocCollapse"
      aria-expanded="false"
      aria-controls="tocCollapse">
      Table of contents
    </button>
  </div>
  <nav id="toc" class="toc" aria-label="Table of contents">
    <div id="tocCollapse" class="collapse">
      <h2 class="h5 mb-3">On this page</h2>
      <ol class="list-unstyled mb-0" id="tocList"></ol>
    </div>
  </nav>
</aside>