<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {
        title: "Projects",
        keywords: "Umer Tariq, projects, portfolio, web development, computer science, student, programming",
        description: "Projects portfolio of Umer Tariq Awan, showcasing web development and computer science work",
        styles: "stylesheets/projects.css",
        javascript: "javascripts/projects.js"
    }) %>
</head>

<body class="bg-light">
    <%- include('../partials/navbar.ejs', { activePage: 'projects' }) %>

    <!-- Main Content-->
    <main>

    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>